extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-block.mb-indent
		.container.container_indent
			.row
				.col-lg-6.col-xl-4
					.top-block__main
						.top-block__info
							.top-block__title Займы онлайн в&nbsp;Северодвинске
							.top-block__text Деньги без справок и поручителей без залога и переплат

						form.form-calc
							.form-calc__fields
								.form-calc__item
									.range.js-range
										.range__title Сумма кредита

										.range__field
											input.js-slider-range-min#slider-range-sum-credit-val(type="text", placeholder="1000")
											.range__currency &#8381;

										#slider-range-sum-credit.js-slider-range(data-min="500000", data-max="20000000", data-cur-min="2486000", data-step="1", autocomplete="off")

										.range__scale
											.range__min.js-range-min(data-label="&#8381;")
											.range__max.js-range-max(data-label="&#8381;")

								.form-calc__item
									.range.js-range
										.range__title Срок кредита

										.range__field
											input.js-slider-range-min#slider-range-time-credit-val(type="text", placeholder="1")
											.range__currency Мес.

										#slider-range-time-credit.js-slider-range(data-min="1", data-max="7", data-cur-min="2", data-step="1", autocomplete="off")

										.range__scale
											.range__min.js-range-min(data-label="год")
											.range__max.js-range-max(data-label="год")

							.form-calc-res
								.form-calc-res__content
									.form-calc-res__label Всего к&nbsp;возврату
									.form-calc-res__price 5 170 &#8381;

								.form-calc-res__btn
									input.btn(type="submit", value="Продолжить")

				.col-lg-6.col-xl-7.offset-xl-1
					.contact
						.map-wrap
							.map-wrap__content
								#map.map
							script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
					
						.contact-list
							.contact-list__item
								.contact-list__icon
									+svg('ic-address','ic-address', '16', '20')
								.contact-list__content
									.contact-list__label Главный офис:
									.contact-list__text 164500 Архангельская область, г. Северодвинск, ул. ул. Карла Маркса, 30.
							
							.contact-list__item
								.contact-list__icon
									+svg('ic-arrow-circle','ic-arrow-circle', '19', '20')
								.contact-list__content
									.contact-list__top
										.contact-list__label Как добраться:

										.switch.js-switch
											.switch__text.js-switch-text-left Пешком

											label.switch__label
												input.js-choose-path(type="checkbox")
												.switch__content
													.switch__marker

											.switch__text.js-switch-text-right На машине


									.contact-list__text
										.contact-list__path.js-path-foot Пешком, от остановки Карла маркса ,300 метров во двор. вход через арку
										.contact-list__path.js-path-car(style="display: none;") На машине

	section.m-indent
		.container
			.row
				.col-12
					.info-block
						.info-block__title Отделения в&nbsp;регионе

						a(href="#").btn Все отделения

	section.mark-wrap.m-indent.p-indent
		.container
			.row
				.col-12
					h2.h1 Рейтинг компании

					.mark-wrap__content
						.mark-wrap__label Нас оценили!

						.mark-wrap__list
							-
								var list=[
									{logo:'ya.jpg', num:'4.7', text:'Оценок : 10', width:'80'},
									{logo:'zoon.png', num:'4.7', text:'Оценок : 10', width:'80'},
									{logo:'yahoo.jpg', num:'5.0', text:'Оценок : 10', width:'100'},
								]

							each item in list
								.mark
									.mark__icon
										img(src="assets/img/"+item.logo, alt="")

									.mark__content
										.mark__rating
											.mark__num= item.num 

											.rating
												.rating__content(style="width:"+item.width+"%")

										.mark__text= item.text

	section.stock-main.m-indent
		.container
			.row
				.col-12
					h2.h1 Акции

		.stock-list
			.container
				.row
					-
						var list=[
							{img:'stock1.jpg', title:'Кредит по ставке 12% ', text:'На любые цели, без поручителей. Деньги на руки за 5 минут!'},
							{img:'stock2.jpg', title:'Понижение ставки на кредиты для бизнеса'},
						]
					each item in list
						.col-lg-6
							.stock-item
								.stock-item__img(style="background-image: url(/assets/img/"+item.img+")")
								
								.stock-item__content
									.stock-item__title= item.title

									if(item.text)
										.stock-item__text= item.text

									.stock-item__more
										a(href="#") Подробнее
											+svg('ic-arrow-right','ic-arrow-right', '14', '11')

				.row
					.col-12
						.stock-list__btn
							a(href="#").btn Все акции

	section.mt-indent.bg-light-blue.p-indent
		.container
			.row
				.col-12
					.page-info
						h2.h1 Текстовый блок

						p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

						h2 Участие в проведении процедур государственной аккредитации (H2)

						p Полномочия Института в качестве экспертной <a href="#">Ссылка в тексте</a> организации для проведения аккредитационной экспертизы в рамках Государственной аккредитации образовательной деятельности установлены Распоряжением Федеральной службы по надзору в сфере образования и науки №1093-06 от 11 июля 2018 года.

						p
							a(href="#") Ссылка
								+svg('ic-arrow-right','ic-arrow-right', '14', '11')

						h3 Участие в проведении процедур государственной аккредитации (H3)

						p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

						ul.list-dot
							li Кредит на  профессиональное образование
							li Кредит на отпуск
							li Кредит на лечение
							li Кредит на личные нужды

	section.p-indent.review-wrap
		.container
			.row
				.col-12
					h2.h1 Отзывы

		.container
			.review-list
				.row
					-
						var list=[
							{review:'1'},
							{review:'2'},
						]
					each item in list
						.col-lg-6
							.review-item
								.review-item__top
									.review-item__img(style="background-image: url(/assets/img/ava.jpg)")
									.review-item__name Ирина Александровна Валеева

								.review-item__content
									.review-item__sign
										img(src="/assets/img/quote.png", alt="")

									.review-item__text Есть просьба. Для постоянных клиентов предлагать более низкие проценты.
										br
										|Я занимаю каждый месяц, однако проценты такие же.Есть просьба. Для постоянных клиентов предлагать более низкие проценты.

	section.bg-light-blue.p-indent.last-elem
		.container
			.row
				.col-12
					h2.h1 FAQ

					-
						var list=[
							{question:'Заявки обрабатываются крглосуточно Одобрение 99,9%?', answer:'custom'},
							{question:'Продолжат ли работать уже выданные кредитки', answer:'Текст'},
							{question:'Что нельзя будет оплачивать кредитками Visa и Mastercard в России', answer:'Текст'},
							{question:'Заявки обрабатываются крглосуточно Одобрение 99,9%?', answer:'Текст'},
							{question:'Возможно ли вернуть заем досрочно, и каковы условия досрочного погашения?', answer:'Текст'},
						]

					each item in list
						.unwrap-block.js-unwrap-block
							.unwrap-block__head.js-unwrap-head
								.unwrap-block__title= item.question
								.unwrap-block__arr
									+svg('ic-arrow-down','ic-arrow-down', '18', '11')

							.unwrap-block__content.js-unwrap-content
								if(item.answer == 'custom')
									p Полномочия Института в качестве экспертной <a href="#">Ссылка</a> в тексте организации для проведения аккредитационной экспертизы в рамках Государственной аккредитации образовательной деятельности установлены Распоряжением Федеральной службы по надзору в сфере образования и науки №1093-06 от 11 июля 2018 года.
								else
									p= item.answer